<div class="content">
    <p>
        <h2><%= @post.title %></h2>
    </p>
    
    <p>
        <%= @post.text.html_safe %>
    </p>
    Publish Date: <%= @post.publish_date %><br />
    <%= link_to 'Back', posts_path %><br />
    
    <div class="commentsContent">
        <h2>Comments</h2>
        <table class="commentsTable">
        <%  
            i = 0
            @post.comments.each do |comment|
        %>
            <% if (i % 2) == 0 %>
                <tr class="evenComment">
            <% else %>
                <tr class="oddComment">
            <% end %>
                <td>
                    <%= comment.commenter %>
                    <p><%= comment.body %></p>
                </td>
            </tr>
        <%  
            i += 1
            end 
        %>
        </table>
    </div>
    
    <h2>Add a comment: </h2>
    <%= form_for([@post, @post.comments.build]) do |f| %>
        <p>
            <%= f.label :commenter %><br />
            <%= f.text_field :commenter %>
        </p>
    
        <p>
            <%= f.label :body %><br />
            <%= f.text_area :body %>
        </p>
    
        <p>
            <%= f.submit %>
        </p>
    <% end %>
</div>
