<!DOCTYPE html>
<html>
<head>
  <title>SlyGuy[:webGuy]</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title">SlyGuy[:webGuy]</h1>
            <nav>
                <ul>
                    <li><%= link_to "Blog", controller: "posts" %></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="#">Portfolio</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="content">
        <%= yield %>
    </div>

    <div class="footer-container">
        <footer class="wrapper">
            <h3>Created by <a href="https://github.com/swillis16">Sylvester Willis</a></h3>
            <h3>Since you're reading this, consider using <a href="http://www.initializr.com/">Initializr</a> as a baseline for HTML5 stuff.</h3>
        </footer>
    </div>
</body>
</html>
