<!DOCTYPE html>
<html>
<head>
  <title>SlyGuy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="header-container">
        <header class="wrapper clearfix">
            <img class="myGravatar" src="https://secure.gravatar.com/avatar/<%= @emailHash %>" />
            <h1 class="title">SlyGuy</h1>
            <nav>
                <ul>
                    <li><%= link_to "Blog", controller: "posts" %></li>
                    <li><%= link_to "Resume", controller: "resume" %></li>
                    <li><%= link_to "Portfolio", controller: "portfolio" %></li>
                </ul>
            </nav>
        </header>
    </div>

    <%= yield %>

    <div class="footer-container">
        <footer class="wrapper">
            <span class="footer-text">
                Created using <a href="http://www.initializr.com/">Initializr</a>
                and <a href="http://sampleresumetemplate.net/">Sample Resume Template</a>.
            </span>

            <br />

            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/sylvesterwillis" data-format="click" data-related="false"></script>
            <a href="https://github.com/swillis16"><%= image_tag "GitHub-Mark-32px.png" %></a>
        </footer>
    </div>
</body>
</html>
